@model PilotProject.Models.MedicType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MedicType</legend>

    <div class="display-label">name</div>
    <div class="display-field">@Model.name</div>

    <div class="display-label">medics</div>
    <div class="display-field">@(Model.medics == null ? "None" : Model.medics.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


